<div class="middlebox">
  <h3><a class="btn btn-primary" href="/dashboard">Dashboard</a>&nbsp;&nbsp;<a class="btn btn-default" href="/orders">Orders</a></h3>
  <p> Welcome {{userEmail}}!  &nbsp;<a href="/logout">Log out?</a></p>
</div>
