html, body{
    height: 100%;
    width: 100%;
}
ol,ul{
    list-style:none;
}
a{
    text-decoration-line: none;
}
.clear{
    both: clear;
}
/** Header **/
#wrap{
    height:100%;
    width: 100%;

}

.page-header h1{
    margin-left: 50px;
    color:#5e5e5e;
}
.page-header h2{
    color:#5e5e5e;
}

#myBtn {
    background-color: #2aabd2;
    color: #fff;
}

/** Leftside **/

.leftside .container{
    float: left;
    heigh: 100%;
    width: 20%;
}
/** Rightside **/

.rightside .container{
    float: right;
    heigh: 100%;
    width: 80%;s;
}